
<h1>Welcome to Jacobs fun with games!</h1> 

<p>These are some of my favorite games!</p>

<ul>

    <li><p><a href="https://itunes.apple.com/us/app/call-of-mini-infinity/id605676336?mt=8">#Call of Mini Infinity></a></p></li>
    
    <li><p><a href="https://itunes.apple.com/us/app/clash-of-clans/id529479190?mt=8">#Clash of Clans</a></p>
    
    <li><p><a href="https://itunes.apple.com/us/app/clash-royale/id1053012308?mt=8">#Clash Royal</a></p></li>

</ul>

<hr>

<iframe width="560" height="315" src="https://www.youtube.com/embed/Umu5U0nzm6g" frameborder="0" allowfullscreen></iframe>

<p>This game was introduced to me by a friend of mine!</p> 

<hr>

<iframe width="560" height="315" src="https://www.youtube.com/embed/UQxVqMBjlkM" frameborder="0" allowfullscreen></iframe>   

<p>This game was also introduced to me by a diffrent friend!</p> 

<hr>

<iframe width="560" height="315" src="https://www.youtube.com/embed/Jh56UM0mYxI" frameborder="0" allowfullscreen></iframe>    

<p>This was a fun game that i still play that was introduced to me by a good friend of mine!</p>    
