<html>
    <head>
    
        <title>NickCool</title>

    </head>
    <body>
        <div class="container">
      <h1>Welcome to Nicks fun with games!</h1> 
      
        <p>These are some of my favorite games!</p>
        
        <ul>
        
            <li><p><a href="https://itunes.apple.com/us/app/call-of-mini-infinity/id605676336?mt=8">#Call of Mini Infinity</a></p></li>
            
            <li><p><a href="https://itunes.apple.com/us/app/clash-of-clans/id529479190?mt=8">#Clash of Clans</a></p>
            
            <li><p><a href="https://itunes.apple.com/us/app/clash-royale/id1053012308?mt=8">#Clash Royal</a></p></li>
        
        
        
        </ul>
        
        <hr>
        
    
        <a href="infinity.html"><%= image_tag "https://s3.amazonaws.com/nickcool/infinity.jpeg" %></a> <p>Click image</p>
    <p>This game was introduced to me by a friend of mine!</p> 
        
     <hr>
        
        
        <a href="clash.html"><%= image_tag "https://s3.amazonaws.com/nickcool/clash.jpeg" %></a> <p>Click image</p>
    <p>This game was also introduced to me by a diffrent friend!</p> 
        
    <hr>
        
        
        <a href="royal.html"><%= image_tag "https://s3.amazonaws.com/nickcool/clashroyal.jpg" %></a> <p>Click image</p>    
    <p>This was a fun game that I still play that was introduced to me by a good friend of mine!</p> 
     
        <hr>
        
    
    <p>This will explane what I did to make the site possible!</p>   
        </div>
    </body>



</html>